body{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
    font-family:Arial, Helvetica, sans-serif;
    color: white;
  }
  .container{
    display: grid;
    background-color: gray;
    min-height: 250px;
    min-width: 250px;
    justify-content: center;
    align-content: center;
    grid-template-columns: 100px 100px;
    grid-template-rows: 100px 100px;
    grid-template-areas: "item1 item2"
                         "item4 item3";
    grid-gap: 10px;
    border-radius: 50px;
  }
  .item{
    border-radius: 50px;
    box-shadow: 3px 3px 5px -1px black;
  }
  .item0{
    grid-area: item1;
    background-color: yellow;
  }
  .item1{
    grid-area: item2;
    background-color: blue;
  }
  .item2{
    grid-area: item3;
    background-color: red;
  }
  .item3{
    grid-area: item4;
    background-color: green;
  }
  .btn{
    size: 100px 300px;
    margin-top: 30px;
  }
  button{
    font-size: 20px;
    width: 250px;
    padding: 5px 0;
    border-radius: 7px;
    margin: none;
  }
  button :hover{
    background-color: gray;
  }
  h3, h1{
    text-align: center;
  }
  span{
    font-size: 30px;
    color: red;
    justify-items: center;
  }
  header {
    display: flex;
    color: red;

  }
  