body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.containerSeccion{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}
main {
  flex: 1 0 auto;
}
.page-footer,.header{
  background-color: rgb(48, 47, 47);
}
.containerGrid{
  display: grid;
  background-color: rgb(48, 47, 47);
  justify-content: center;
  align-content: center;
  grid-template-columns: 100px 100px;
  grid-template-rows: 100px 100px;
  grid-template-areas: "item1 item2"
                       "item4 item3";
  grid-gap: 10px;
  border-radius: 50px;
  width: 250px;
  height: 250px;
  margin-bottom: 30px;
}
img{
  height: 250px;
  margin-bottom: 30px;
}
.item{
  border-radius: 50px;
  box-shadow: 3px 3px 5px -1px black;
}
.item0{
  grid-area: item1;
  background-color: yellow;
}
.item1{
  grid-area: item2;
  background-color: blue;
}
.item2{
  grid-area: item3;
  background-color: red;
}
.item3{
  grid-area: item4;
  background-color: green;
}
.hide{
  display: none;
}
.btn{
  color: black;
  width: 250px;
  font-weight: 700;
  font-size: 15px;
  border-radius: 10px;
}

.nivel{
  color: white;
}